
<?php  
$pagesize = 10; //设置记录显示条数; 
 $JCCMS_pagecount = floor(count($JCCMS_SQL) / $pagesize)-1;//计算数组所得到记录总数
  $JCCMS_prev = $JCCMS_page -1; //初始化上一页
 $JCCMS_next = $JCCMS_page +1; //初始化下一页
?>
<!DOCTYPE html>
<html lang="zh-TW" xmlns="https://www.w3.org/1999/xhtml" xmlns:og="https://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
 <head> 
  <meta charset="UTF-8" /> 
  <meta content="width=device-width, initial-scale=1.0, user-scalable=0" name="viewport" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
<title><?php echo $web_title;?></title>
<meta name="keywords" content="<?php echo $web_keywords;?>" />
<meta name="description" content="<?php echo $web_description;?>" />
<link href="<?php echo '/template/'.$web_moban;?>/css/style.css" rel="stylesheet"> 
 </head> 
 <body> 
  <?php  include('./template/'.$web_moban.'/header.html');?>


  <div id="container"> 


   <section class="sectionContent"> 
    <div class="videoGroup long newVideo"> 
     <div class="section-title grayBorder"> 
      <h2><?php JCCMS_type('5'); ?></h2>  
     </div> 
     <div id="new_cover" class="video-wrapper showMe">
	<?php $JCCMS_SQL=JCCMS_chuli('5');for($x=$JCCMS_page * $pagesize;$x<$JCCMS_page * $pagesize + $pagesize;$x++){ ?>
      <div class="col-style d-5 m-2"> 
       <a class="videoBox" href="/?m=vod-detail-id-<?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_id');?>.html"> 
        <div class="videoBox-content" data-vid="TIKC-031"> 
         <div class="videoBox-cover lazyLoad" style="background-image: url(<?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_pic');?>);" ></div> 
         <div class="collect glyphicon glyphicon-plus"></div> 
         <div class="videoBox-bottom"> 
          <div class="videoBox-time">
           <?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_time');?>
          </div> 
          <div class="tag_con"> 
          </div> 
         </div> 
        </div> 
        <div class="videoBox-info">
         <h4 class="title"><?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_name');?></h4>
        </div> </a>  
      </div> 
	<?php } ?>
     </div> 
    </div> 
  </section>
   <section class="sectionContent"> 
    <div class="videoGroup long newVideo"> 
     <div class="section-title grayBorder"> 
      <h2><?php JCCMS_type('10'); ?></h2>  
     </div> 
     <div id="new_cover" class="video-wrapper showMe">
	<?php $JCCMS_SQL=JCCMS_chuli('10');for($x=$JCCMS_page * $pagesize;$x<$JCCMS_page * $pagesize + $pagesize;$x++){ ?>
      <div class="col-style d-5 m-2"> 
       <a class="videoBox" href="/?m=vod-detail-id-<?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_id');?>.html"> 
        <div class="videoBox-content" data-vid="TIKC-031"> 
         <div class="videoBox-cover lazyLoad" style="background-image: url(<?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_pic');?>);" ></div> 
         <div class="collect glyphicon glyphicon-plus"></div> 
         <div class="videoBox-bottom"> 
          <div class="videoBox-time">
           <?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_time');?>
          </div> 
          <div class="tag_con"> 
          </div> 
         </div> 
        </div> 
        <div class="videoBox-info">
         <h4 class="title"><?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_name');?></h4>
        </div> </a>  
      </div> 
	<?php } ?>
     </div> 
    </div> 
  </section>
   <section class="sectionContent"> 
    <div class="videoGroup long newVideo"> 
     <div class="section-title grayBorder"> 
      <h2>直播推荐</h2>  
     </div> 
     <div id="new_cover" class="video-wrapper showMe">
<?php
$json_string = file_get_contents($zhibourl);
$data = json_decode($json_string, true);$datas = $data['fileinfo'];$pageresult = $data['pageresult'];$page = $data['page'];$datass =NULL;
for ($x=0; $x<=9; $x++) {
$val=$datas[$x];$address=$val['m3u8'];$img=$val['pic'];$title=$val['name'];

?>
      <div class="col-style d-5 m-2"> 
       <a class="videoBox" href="/?m=zhibo-neiron-id-<?php echo base64_encode($address)?>.html"> 
        <div class="videoBox-content" data-vid="TIKC-031"> 
         <div class="videoBox-cover lazyLoad" style="background-image: url(<?php echo $img;?>);" ></div> 
         <div class="collect glyphicon glyphicon-plus"></div> 
         <div class="videoBox-bottom"> 
          <div class="videoBox-time">
           直播频道
          </div> 
          <div class="tag_con"> 
          </div> 
         </div> 
        </div> 
        <div class="videoBox-info">
         <h4 class="title"><?php echo $title ?></h4>
        </div> </a>  
      </div> 
<?php		 }?>	 

     </div> 
    </div> 
  </section>

  </div> 
  <footer id="footer"> 
   <div class="footer-container"> 
    <div class="footer-upper"> 
     <div class="ft_partner">
       友情链接： <ul> <?php echo  Jccms_json_connection('<li><a href="链接" target="_blank"><i class="fa fa-heart"></i>标题</a></li><li>',JCCMS_ROOT);?></ul> 
     </div> 
    </div> 

   </div> 
  </footer> 

 <?php  include('./template/'.$web_moban.'/footer.html');?>


 </body>
</html>

