
<?php  
$pagesize = 9; //设置记录显示条数; 
 $JCCMS_pagecount = floor(count($JCCMS_SQL) / $pagesize)-1;//计算数组所得到记录总数
  $JCCMS_prev = $JCCMS_page -1; //初始化上一页
 $JCCMS_next = $JCCMS_page +1; //初始化下一页
?>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	<title><?php echo $web_title;?></title>
	<meta name="keywords" content="<?php echo $web_keywords;?>" />
	<meta name="description" content="<?php echo $web_description;?>" />
    <link rel="stylesheet" href="<?php echo '/template/'.$web_moban;?>/css/style.css" />
</head>
<body>
 <?php  include('./template/'.$web_moban.'/header.html');?>
 
 <div class="maxbox" style="margin-top:5px;">
  <div class="vodbox">
    <div class="indexbox">
      <div class="title"><?php JCCMS_type('5'); ?>|公告： <?php echo $dizhigongao;?></div>
		<?php $JCCMS_SQL=JCCMS_chuli('5');for($x=$JCCMS_page * $pagesize;$x<$JCCMS_page * $pagesize + $pagesize;$x++){ ?>
            <ul>
				<a href="/?m=vod-detail-id-<?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_id');?>.html"target="_blank"><img src="<?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_pic');?>" width="217" height="134"/>
				<h3><?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_name');?></h3>
				<span class="time"><font color="red"><?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_time');?></font></span></a>
			</ul>
		<?php		 }?>		  

            </div>
    <div class="indexright">
      <div class="title"><?php JCCMS_type('5'); ?>-文字推荐</div>
	  
	 		<?php $JCCMS_SQL=JCCMS_chuli('5');for($x=$JCCMS_page * $pagesize;$x<$JCCMS_page * $pagesize + $pagesize;$x++){ ?>
    <ul>
        <li class="num">文</li>
        <li class="tit"><a href="/?m=vod-detail-id-<?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_id');?>.html"  target="_blank"><?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_name');?></a></li>

    </ul>
		<?php		 }?> 
	  
    <ul><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li></ul>
    <ul><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li></ul>
    <ul><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li></ul>
    <ul><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li></ul>	
    <ul><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li></ul>		
       </div>
  </div>
  <div style="clear:both"></div>
  
   <div class="vodbox">
    <div class="indexbox">
      <div class="title"><?php JCCMS_type('10'); ?>|公告： <?php echo $dizhigongao;?></div>
		<?php $JCCMS_SQL=JCCMS_chuli('10');for($x=$JCCMS_page * $pagesize;$x<$JCCMS_page * $pagesize + $pagesize;$x++){ ?>
            <ul>
				<a href="/?m=vod-detail-id-<?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_id');?>.html"target="_blank"><img src="<?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_pic');?>" width="217" height="134"/>
				<h3><?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_name');?></h3>
				<span class="time"><font color="red"><?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_time');?></font></span></a>
			</ul>
		<?php		 }?>		  

            </div>
    <div class="indexright">
      <div class="title"><?php JCCMS_type('10'); ?>-文字推荐</div>
	  
	 		<?php $JCCMS_SQL=JCCMS_chuli('10');for($x=$JCCMS_page * $pagesize;$x<$JCCMS_page * $pagesize + $pagesize;$x++){ ?>
    <ul>
        <li class="num">文</li>
        <li class="tit"><a href="/?m=vod-detail-id-<?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_id');?>.html"  target="_blank"><?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_name');?></a></li>

    </ul>
		<?php		 }?> 
	  
    <ul><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li></ul>
    <ul><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li></ul>
    <ul><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li></ul>
    <ul><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li></ul>	
    <ul><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li></ul>		
       </div>
  </div>
  <div style="clear:both"></div> 
  
  
  
  
  
  
  
  
  
   <div class="vodbox">
    <div class="indexbox">
      <div class="title">直播频道|公告： <?php echo $dizhigongao;?></div>
<?php

 $json_string = file_get_contents($zhibourl);
 $data = json_decode($json_string, true);$datas = $data['fileinfo'];$pageresult = $data['pageresult'];$page = $data['page'];$datass =NULL;
for ($x=0; $x<=8; $x++) {
  $val=$datas[$x];$address=$val['m3u8'];$img=$val['pic'];$title=$val['name'];

?>
            <ul>
				<a href="/?m=zhibo-neiron-id-<?php echo base64_encode($address)?>.html"target="_blank"><img src="<?php echo $img?>" width="217" height="134"/>
				<h3><?php echo $title ?></h3>
				<span class="time"><font color="red">直播中</font></span></a>
			</ul>
<?php


}
?>	  
	  
	  
		  

            </div>
    <div class="indexright">
      <div class="title">直播频道-文字推荐</div>
	  
<?php

 $json_string = file_get_contents($zhibourl);
 $data = json_decode($json_string, true);$datas = $data['fileinfo'];$pageresult = $data['pageresult'];$page = $data['page'];$datass =NULL;
for ($x=0; $x<=8; $x++) {
  $val=$datas[$x];$address=$val['m3u8'];$img=$val['pic'];$title=$val['name'];

?>
    <ul>
        <li class="num">文</li>
        <li class="tit"><a href="/?m=zhibo-neiron-id-<?php echo base64_encode($address)?>.html"  target="_blank">直播-<?php echo $title ?></a></li>

    </ul>
		<?php		 }?> 
	  
    <ul><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li></ul>
    <ul><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li></ul>
    <ul><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li></ul>
    <ul><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li></ul>	
    <ul><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li><li class="num">色</li></ul>		
       </div>
  </div>
  <div style="clear:both"></div> 

</div>
<!--this one--> 
 <div class="maxbox" style="margin-top:5px;">
  <div class="vodbox"> 

    <!--友情链接-->
    <div class="web_list"> 
<?php echo  Jccms_json_connection('<a href="链接" target="_blank" rel="nofollow">标题</a>',JCCMS_ROOT);?>

</div>
    
    <!--友情链接end--> 
  </div>
  <div style="clear:both"></div>
</div>

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 

<?php  include('./template/'.$web_moban.'/footer.html');?>
</body>
</html>	
