<header class="sidebar">
  <div class="container">
    <div class="logo">
      <a href="/" title="<?php echo $web_title;?>"><img src="<?php echo $web_logo;?>" alt="<?php echo $web_title;?>" /></a>
    </div>
    <div class="form-search">
      <form role="search" id="search" name="search" method="get">
        <input type="text" style="display:none" name="m" value="search-type-so-0.html" />
        <div class="input-group">
          <input type="text" name="TXT" class="form-control input-sm keyword" placeholder="搜索..." autocomplete="off"
            value="" />
          <span class="input-group-btn"><button type="submit" class="btn btn-sm btn-search" style="outline: 0;"><span
                class="glyphicon glyphicon-search"></span></button></span>
        </div>
      </form>
    </div>

  </div>
  <div class="nav-main container">
    <div class="header-links header-item">
      <ul class="nav" id="nav">
        <li class='Home cusfont'><a rel="tag" href="/?m=vod-type-5-0.html"><span>视频一区</span></a></li>
        <li class='Home cusfont'><a rel="tag" href="/?m=vod-type-5-0.html"><span>直播专区</span></a></li>

        <div class="header-mobile">
          <button type="button" class="show-sidebar-left"><i class="glyphicon glyphicon-menu-hamburger"></i></button>
          <a href="/"><img src="<?php echo $web_logo;?>"></a>
        </div>
        <div class="overlay"></div>
      </ul>

      <div class="subnav" id="sub_nav"> 
        <ul class="subnav_ul">
          <li class="home cusfont"><a href="/?m=vod-type-5-0.html">日韩有码</a></li>
          <li class="home cusfont"><a href="/?m=vod-type-6-0.html">日韩无码</a></li>
          <li class="home cusfont"><a href="/?m=vod-type-7-0.html">欧美视频</a></li>
          <li class="home cusfont"><a href="/?m=vod-type-8-0.html">国产视频</a></li>
          <li class="home cusfont"><a href="/?m=vod-type-9-0.html">偷拍自拍</a></li>
          <li class="home cusfont"><a href="/?m=vod-type-10-0.html">成人动漫</a></li>
          <li class="home cusfont"><a href="/?m=vod-type-11-0.html">经典三级</a></li>
          <li class="home cusfont"><a href="/?m=vod-type-15-0.html">美熟少妇</a></li>
          <li class="home cusfont"><a href="/?m=vod-type-16-0.html">变态另类</a></li>		  
        </ul>
  
        <ul class="subnav_ul">
          <li class="home cusfont"><a href="/?m=zhibo-type-24-1.html">精选直播</a></li>
          <li class="home cusfont"><a href="/?m=zhibo-type-25-1.html">女性直播</a></li>
          <li class="home cusfont"><a href="/?m=zhibo-type-26-1.html">男性直播</a></li>
          <li class="home cusfont"><a href="/?m=zhibo-type-27-1.html">男女直播</a></li>
          <li class="home cusfont"><a href="/?m=zhibo-type-28-1.html">人妖直播</a></li>
          <li class="home cusfont"><a>预留位置</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <?php	Jccms_json_ad_top('<a href="链接"  target="_blank" style="display:block; height: auto;"  ><img style="width:100%;margin-bottom:2px;" src="图片"></a>');?>
</div>
<section>
  <div class="container">
    <div class="home-img-box">
      <div class="category-count">
        <h3 class="title">公告：
          <?php echo $dizhigongao;?>
        </h3>
        <div class="btn-group">
          <a href="<?php echo $dizhi1;?>">发布地址一</a>
          <a href="<?php echo $dizhi2;?>">发布地址二</a>
        </div>
      </div>
      
    </div>
    
  </div>
</section>