
<?php  
$pagesize = 8; //设置记录显示条数; 
 $JCCMS_pagecount = floor(count($JCCMS_SQL) / $pagesize)-1;//计算数组所得到记录总数
  $JCCMS_prev = $JCCMS_page -1; //初始化上一页
 $JCCMS_next = $JCCMS_page +1; //初始化下一页
?>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	<title><?php echo $web_title;?></title>
	<meta name="keywords" content="<?php echo $web_keywords;?>" />
	<meta name="description" content="<?php echo $web_description;?>" />
    <link rel="stylesheet" href="<?php echo '/template/'.$web_moban;?>/css/style.css" />
</head>
<body>
 <?php  include('./template/'.$web_moban.'/header.html');?>
 <div id="header_box"></div>
<div id="top_box"></div>
<div class="wrap mt10">
	<div class="box movie_list">
		<div class="title"><b class="sp_pri movie_ico"></b><h2><?php JCCMS_type('5'); ?>|<strong>公告： <?php echo $dizhigongao;?></strong></h2></div>
		<ul>
		
		<?php $JCCMS_SQL=JCCMS_chuli('5');for($x=$JCCMS_page * $pagesize;$x<$JCCMS_page * $pagesize + $pagesize;$x++){ ?>
			<li><a href="/?m=vod-detail-id-<?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_id');?>.html" target="_blank"><img src="<?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_pic');?>" /><h3><?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_name');?></h3></a></li>
		<?php		 }?>		

		</ul>
	</div>
	<div class="box movie_list">
		<div class="title"><b class="sp_pri movie_ico"></b><h2><?php JCCMS_type('10'); ?>|</h2></div>
		<ul>
		
		<?php $JCCMS_SQL=JCCMS_chuli('10');for($x=$JCCMS_page * $pagesize;$x<$JCCMS_page * $pagesize + $pagesize;$x++){ ?>
			<li><a href="/?m=vod-detail-id-<?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_id');?>.html" target="_blank"><img src="<?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_pic');?>" /><h3><?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_name');?></h3></a></li>
		<?php		 }?>		

		</ul>
	</div>
	
	<div class="box movie_list">
		<div class="title"><b class="sp_pri movie_ico"></b><h2>直播频道|</h2></div>
		<ul>
<?php

 $json_string = file_get_contents($zhibourl);
// 把JSON字符串转成PHP数组
 $data = json_decode($json_string, true);
  $datas = $data['fileinfo'];
 $pageresult = $data['pageresult'];
  $page = $data['page'];
  $datass =NULL;
for ($x=0; $x<=7; $x++) {
  $val=$datas[$x];
 		 $address=$val['m3u8'];
		$img=$val['pic'];

		$title=$val['name'];

?>
<li><a href="/?m=zhibo-neiron-id-<?php echo base64_encode($address)?>.html" target="_blank"><img src="<?php echo $img?>" /><h3><?php echo $title ?></h3></a></li>
<?php


}
?>			


		</ul>
	</div>	
	
	
	
	
	
	
	
	
	
	
<div class="wrap mt10 clearfix">
	<div class="box movie_list">
<div class="ylink clearfix">
		<div class="title"><h2>友情链接|<strong>公告： <?php echo $dizhigongao;?></strong></h2></div>
    
    <?php echo  Jccms_json_connection('<a href="链接" target="_blank" class="links uk-float-left">标题</a>',JCCMS_ROOT);?>
</div>
	</section>
</div>
</div>
</div>
<div id="bottom_box"></div>
<div id="footer_box"></div>
 
 
 
 
 
 
 
 
 

<?php  include('./template/'.$web_moban.'/footer.html');?>
</body>
</html>	
