<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>正在直播中.... <?php echo $web_title;?></title>
	<meta name="keywords" content="<?php echo $web_title;?>" />
	<meta name="description" content="<?php echo $web_title;?>" />
    <link rel="stylesheet" href="<?php echo '/template/'.$web_moban;?>/css/style.css" />
</head>
<body>
<?php  include('./template/'.$web_moban.'/header.html');?>
<div id="header_box"></div>
<div id="top_box"></div>
<div class="wrap mt10">
	<div class="box cat_pos clearfix">
		<span class="cat_pos_l">直播频道<h1>直播中</h1></span>
	</div>
</div>
<div class="wrap mt10">
	<div class="box play">
		<div class="player">
			<div  align="center" >
													 <div  class="prism-player" id="J_prismPlayer" style="height:400px"></div>

											 <link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/2.7.2/skins/default/aliplayer-min.css" />
										 <script charset="utf-8" type="text/javascript" src="//g.alicdn.com/de/prismplayer/2.7.2/aliplayer-min.js"></script>
									<?php  $GG=$PT; $PT = file_get_contents(base64_decode($PT));?>        
											<script>
												var player = new Aliplayer({
												id: 'J_prismPlayer',
												width: '100%',
												autoplay: true,
												//支持播放地址播放,此播放优先级最高
												source : '<?php echo$PT?>',
												liveShiftSource:'<?php echo $PT?>',

											


												},function(player){
													console.log('播放器创建好了。')
											   });
											   
											</script>
			
			</div>
		
			<div class="clear"></div>
		</div>
		<div class="copyright">	
<font size="3" color="red"><strong>【本直播为真实国外直播，由咪兔直播提供战略合作服务接口！】</strong></font>

	</div>
			<div class="copyright">	

<font size="1" color="red"><strong>MTBB值:<?php echo $GG;?> </strong></font>
	</div>
	<?php	Jccms_json_ad_video('<a href="链接" target="_blank"><img style="width:980px;height:100px;margin-bottom:2px;" src="图片"></a>');?>	
</div>
</div>
<div class="wrap mt10">
	<div class="box movie_list">
		<div class="title"><h2><strong>公告： <?php echo $dizhigongao;?></strong></h2></div>
		<ul>
		

			<li><a><img src="<?php echo '/template/'.$web_moban;?>/images/zb.jpg" /></a></li>
			<li><a><img src="<?php echo '/template/'.$web_moban;?>/images/zb1.jpg" /></a></li>
			<li><a><img src="<?php echo '/template/'.$web_moban;?>/images/zb2.jpg" /></a></li>
			<li><a><img src="<?php echo '/template/'.$web_moban;?>/images/zb.jpg" /></a></li>
	

		</ul>
	</div>
</div>

<div id="bottom_box"></div>
<div id="footer_box"></div>

<?php  include('./template/'.$web_moban.'/footer.html');?>
 
</body>
</html>