<!-- 头部 -->
<div class="detail_title">
	<div class="width1200">
		<h1 ><a href="/"><img src="<?php echo $web_logo;?>" alt="<?php echo $web_title;?>"></a></h1>
        <div class="detail_submit">
        	<form name="search_form" action="" method="GET">
			<input type="text" style="display:none" name="m" value="search-type-so-0.html" />
        	<input type="text" placeholder="请输入搜索关键字" id="wd" name="TXT" value=""/>
            <input type="submit" value=""/>
            </form>

        </div>
		
<div class="link">

	        <ul>
		        <li><a href="<?php echo $dizhi1;?>" target="_blank"><img src="<?php echo '/template/'.$web_moban;?>/img/fb1.png"></a></li>
		        <li><a href="<?php echo $dizhi2;?>" target="_blank"><img src="<?php echo '/template/'.$web_moban;?>/img/fb2.png"></a></li>
	        </ul>
        </div>

    </div>
</div>

<!-- 头部 -->
<!-- 正文 -->
<div class="detail">
	<div class="width1200">
        <div class="detail_left">
            <ul>
            	<li>
                	<h3>视频一区<span></span></h3>
                    <ol class="block">
						<li><a  href="/?m=vod-type-5-0.html">日韩有码</a></li>                                                                
						<li><a  href="/?m=vod-type-6-0.html">日韩无码</a></li>                                                                 
						<li><a  href="/?m=vod-type-7-0.html">欧美视频</a></li>                                                                 
						<li><a  href="/?m=vod-type-8-0.html">国产视频</a></li>                                                                 
						<li><a  href="/?m=vod-type-9-0.html">偷拍自拍</a></li>                                                                 
						<li><a  href="/?m=vod-type-10-0.html">成人动漫</a></li>
						<li><a  href="/?m=vod-type-15-0.html">美熟少妇</a></li>
						<li><a  href="/?m=vod-type-16-0.html">变态另类</a></li>
						<li><a  href="/?m=vod-type-11-0.html">精品三级</a></li> 
                    </ol>
                </li>

            	<li>
                	<h3 class="live-box">直播专区<span></span></h3>
                    <ol class="">
               
							<li><a  href="/?m=zhibo-type-24-1.html">精选直播</a></li>
							<li><a  href="/?m=zhibo-type-25-1.html">女性直播</a></li>
							<li><a  href="/?m=zhibo-type-26-1.html">男性直播</a></li>
							<li><a  href="/?m=zhibo-type-27-1.html">男女直播</a></li>
							<li><a  href="/?m=zhibo-type-28-1.html">人妖直播</a></li>
							<li><a >预留位置</a></li> 
                  	
                    </ol>
                </li>				
            </ul>

            <div class="div1">广告邮箱：<?php echo $web_email;?></div>


                   </div>

		<div class="detail_right">
            <div class="ps_2">
				<?php	Jccms_json_ad_top('<a style="display:block;margin:0 0 0 0 ;" href="链接" target="_blank"><img src="图片"></a>');?>	
			</div>
		</div>
		
		
		
	