<!DOCTYPE html>
<?php  
$pagesize = 15; //设置记录显示条数; 
 $JCCMS_pagecount = floor(count($JCCMS_SQL) / $pagesize)-1;//计算数组所得到记录总数
  $JCCMS_prev = $JCCMS_page -1; //初始化上一页
 $JCCMS_next = $JCCMS_page +1; //初始化下一页
?>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><?php echo $web_title;?></title>
	<meta name="keywords" content="<?php echo $web_keywords;?>" />
	<meta name="description" content="<?php echo $web_description;?>" />
	<link rel="stylesheet" type="text/css" href="<?php echo '/template/'.$web_moban;?>/css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo '/template/'.$web_moban;?>/css/base.css"/>
	<link rel="stylesheet" type="text/css" href="<?php echo '/template/'.$web_moban;?>/css/main.css"/>
	<script type="text/javascript" src="<?php echo '/template/'.$web_moban;?>/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="<?php echo '/template/'.$web_moban;?>/js/main.js"></script>
</head>
<body>
 <?php  include('./template/'.$web_moban.'/header.html');?>
            <div class="detail_right">
                <!-- 首页 -->
                <div class="detail_tab detail_tab2">
                    <div class="detail_right_div">
                         <h3>
                            <span class="detail_right_span">视频分类：<?php echo $C_T_2_name;?>|公告： <?php echo $dizhigongao;?></span>
                        </h3>

                        <ul>
						<?php

	for($x=$JCCMS_page * $pagesize;$x<$JCCMS_page * $pagesize + $pagesize;$x++){

?>
									<li>
									<p class="img">
										<img class="lazy" src="<?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_pic');?>"  alt="<?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_name');?>" title="<?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_name');?>" onerror="this.src='<?php echo '/template/'.$web_moban;?>/img/backlogo.png'"/>
										<a href="/?m=vod-detail-id-<?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_id');?>.html"></a>
									</p>
									<p><?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_name');?></p>

									<p>
										<i><?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_time');?></i>
										<strong><?php  echo rand(5, 10000); ?>观看</strong>
									</p>
								</li>
						<?php		 }?>						
                               
                         </ul>

                  <ul class="nextPage">
                       <a href="#">共<?php JCCMS_page($JCCMS_pagecount);?>页</a>
                        <a href="#">当前<?php JCCMS_page($JCCMS_page);?>页</a>				
<?php
 
if($JCCMS_page >=1){
?>
<a href="/?m=vod-type-<?php echo $JCCMS_type_id; ?>-<?php JCCMS_page($JCCMS_prev);?>.html">上一页</a>
<?php
}
?>


<?php
if($JCCMS_page < $JCCMS_pagecount-10){
?>
<a href="/?m=vod-type-<?php echo $JCCMS_type_id; ?>-<?php echo  $JCCMS_page+1;?>.html"><?php echo  $JCCMS_page+1;?></a>
<a href="/?m=vod-type-<?php echo $JCCMS_type_id; ?>-<?php echo   $JCCMS_page+2;?>.html"><?php echo   $JCCMS_page+2;?></a>
<a href="/?m=vod-type-<?php echo $JCCMS_type_id; ?>-<?php echo   $JCCMS_page+3;?>.html"><?php echo   $JCCMS_page+3;?></a>
<a href="/?m=vod-type-<?php echo $JCCMS_type_id; ?>-<?php echo   $JCCMS_page+4;?>.html"><?php echo   $JCCMS_page+4;?></a>
<a href="/?m=vod-type-<?php echo $JCCMS_type_id; ?>-<?php echo   $JCCMS_page+5;?>.html"><?php echo   $JCCMS_page+5;?></a>
<a href="/?m=vod-type-<?php echo $JCCMS_type_id; ?>-<?php echo   $JCCMS_page+6;?>.html"><?php echo   $JCCMS_page+6;?></a>
<a href="/?m=vod-type-<?php echo $JCCMS_type_id; ?>-<?php echo   $JCCMS_page+7;?>.html"><?php echo   $JCCMS_page+7;?></a>
<a href="/?m=vod-type-<?php echo $JCCMS_type_id; ?>-<?php echo   $JCCMS_page+8;?>.html"><?php echo   $JCCMS_page+8;?></a>
<a href="/?m=vod-type-<?php echo $JCCMS_type_id; ?>-<?php echo   $JCCMS_page+9;?>.html"><?php echo   $JCCMS_page+9;?></a>
<a href="/?m=vod-type-<?php echo $JCCMS_type_id; ?>-<?php echo   $JCCMS_page+10;?>.html"><?php echo   $JCCMS_page+10;?></a>
<?php

}


?>

<?php
if($JCCMS_page < $JCCMS_pagecount){
?>
<a href="/?m=vod-type-<?php echo $JCCMS_type_id; ?>-<?php JCCMS_page($JCCMS_next);?>.html">下一页</a>

<?php
}



?>					  
				  
				  
				  
				  
				  </ul>
						 
						 
						 
                    </div>	
					
                                      
                                      
                                    </div>
                <!-- 首页 -->
            </div>
 

		</div>
        <div style="clear:both;"></div>
    </div>
</div>
<!-- 正文 --> 

<?php  include('./template/'.$web_moban.'/footer.html');?>
</body>
</html>		